doctype html
html(lang="en")
  head

    include partials/metaTags

    include partials/favicons

    link(rel='stylesheet', href='assets/css/site.css')

  body

    include partials/content

    script(src='assets/js/bundle.js', charset='utf-8')

    include partials/analytics
